body {
  font-family: 'Vazirmatn', sans-serif;
  color: #333;
  padding: 20px;
  line-height: 1.6;
  max-width: 65%; 
  margin: 0 auto;
}

h1, h2 {
  color: #252525;
}

form {
  background-color: #f3f3f3;
  padding: 40px;
  border: solid 1px #d4d4d4;
  border-radius: 8px;
}

label {
  font-weight: bold;
  font-size: 1.3em;
  display: block;
  margin-top: 10px;
}

input[type="text"], textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Vazirmatn', sans-serif;
  font-size: 1.2em;
}

textarea {
  height: 200px;
  resize: vertical;
}

button {
  background-color: #9f78e1;
  color: white;
  border: solid 1px #8e6bcb;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Vazirmatn', sans-serif;
  font-size: 1.3em;
  margin-right: 10px;
  margin-top: 20px;
}

button:hover {
  background-color: #8b68c7;
}

#restoreDefaults {
  background-color: #d1d1d1;
  border: solid 1px #9b9b9b;
  color: #3a3a3a;
}

#restoreDefaults:hover {
  background-color: #bababa;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  direction: ltr; 
  font-size: 1.3em;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.link {
  font-size: 1.5em;
  text-align: center;
  border-top: solid 1px #cbcbcb;
  margin: 20px 0;
  padding: 20px 0;
}


a {
  color: #ac86ed;
  text-decoration: none;
}

a:hover{
  color: #8762c7;
}


.icon {
  width: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.radio-group {
  margin-top: 10px;
}

.radio-group label {
  display: block;
  margin: 5px 0;
  font-size: 1.2em;
  color: #999;
  cursor: pointer;
}

.radio-group input[type="radio"] {
  margin-right: 10px;
  cursor: pointer;
}

.radio-group label:has(input[type="radio"]:checked) {
  color: #000;
  font-weight: bold;
}

.radio-group label:has(input[type="radio"]:not(:checked)) {
  color: #999;
}

#obsidianFields {
  display: block;
}

/* Style for disabled fields */
input[type="text"]:disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

button i {
  margin-right: 8px;
  vertical-align: middle;
}

td[data-copy] {
  cursor: pointer; 
}

td[data-copy] i {
  margin-right: 8px; 
  vertical-align: middle; 
}

td[data-copy]:hover {
  color: #9976d5;
}